<nav >
        <ul class='horizontal-nav'>
            <p id='logo'>THE SPROUT APP</p>
            <form action='/login' method='GET'>
            <input type='submit' class='login-button' value='Login'>
            </form>
        </ul>
</nav>