
    <label for='username'>Username</label><br>
    <input type='text' name='username'><br>
    <label for='password'>Password</label><br>
    <input type='text' name='password'><br>
    <label for='firstName'>First Name</label><br>
    <input type='text' name='firstName'><br>
    <label for='lastName'>Last Name</label><br>
    <input type='text' name='lastName'><br>
    <label for='school'>School</label><br>
    <input type='text' name='school'><br>
    <label for='email'>Email</label><br>
    <input type='text' name='email'><br>
    <label for='phoneNumber'>Phone Number</label><br>
    <input type='text' name='phoneNumber'><br>
    <label for='role'>I am</label><br>
    <select name='role'>
        <option value='schoolAdmin'>School Administrator</option>
        <option value='teacher'>A teacher</option>
    </select><br>
        <input type='submit' name='Sign Up'><br>
