<form action='/students/age' method='POST'>
        <div class='form-subsection'>
            <div class='input-pair'>
                <label for='firstName'>Child's First Name</label><br>
                <input type='text' name='firstName'><br>
            </div>
            <div class='input-pair'>
                <label for='firstName'>Child's Last Name</label><br>
                <input type='text' name='lastName'><br>
            </div>
        </div>
        <div class='form-subsection'>
            <div class='input-pair'>
                <label for='dob'>Child's Date of Birth</label><br>
                <input type='date' name='dob'><br>
            </div>
            <div class='input-pair'>
                <label for='ageGroup'>Child's Age Group</label><br>
                <select name='ageGroup'>
                    <option value='Tots'>Tots</option>
                    <option value='Junior'>Junior</option>
                    <option value='Lower Primary'>Lower Primary</option>
                    <option value='Upper Primary'>Upper Primary</option>
                </select><br>
            </div>
        </div>
        <div class='form-subsection'>
            <div class='input-pair'>
                <label for='guardianName'>Guardian's Name</label><br>
                <input type='text' name='guardianName'><br>
            </div>
            <div class='input-pair'>
                <label for='guardianContact'>Guardian's Contact</label><br>
                <input type='text' name='guardianContact'><br>
            </div>
        </div>
        <div class='form-subsection'>
            <div class='input-pair'>
                <label for='guardianRole'>Guardian's Role</label><br>
                <select name='guardianRole'>
                    <option value='Mother'>Mother</option>
                    <option value='Father'>Father</option>
                    <option value='Grandma'>Grandma</option>
                    <option value='Grandpa'>Grandpa</option>
                    <option value='Aunt'>Aunt</option>
                    <option value='Uncle'>Uncle</option>
                    <option value='Others'>Others</option>
                </select><br>
            </div>
            <div class='input-pair'>
                <label for='guardianMembership'>Guardian's Membership</label><br>
                <select name='guardianMembership'>
                    <option value='Regular'>Regular</option>
                    <option value='Member'>Member</option>
                    <option value='New'>New</option>
                </select><br>
            </div>
        </div>
        <label for='firstSeen'>Child First Seen On</label><br>
        <input type='date' name='firstSeen'><br>
        <input type='submit' value='Save'>
    </form>