<nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <div class="dropdown-students" onclick='showStudentDropdown()'>Students</div>
                  <div class="dropdown-container-students">
                    <a href="/students/tots">Age Groups</a>
                    <a href="/students/region">Regions</a>
                  </div>
            <div class="dropdown-teachers" onclick='showTeacherDropdown()'>Teachers</div>
                <div class="dropdown-container-teachers">
                    <a href="/teachers/age">Age Groups</a>
                    <a href="/teachers/region">Regions</a>
                </div>
        </ul>
</nav>