<nav>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a class="" href="/students">Students</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a class="" href="/teachers">Teachers</a></li>
        </ul>
</nav>