<form action='/teachers/age/<%=ageGroup%>' method='GET'>
    <input type="submit" value='<%=ageGroup%> Data'>
</form>
<form action='/teachers/age/<%=ageGroup%>/form' method='GET'>
    <input type="submit" value='<%=ageGroup%> Attendance Form'>
</form>
