<form action='/teachers/age/<%=ageGroup%>' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Data'>
</form>
<form action='/teachers/age/<%=ageGroup%>/roster' method='GET'>
    <input type="submit" value='<%=ageGroup%> Teacher Roster'>
</form>

