<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class='top-banner'>
        <div class='banner-content'>
        <h5>THE SPROUT APP</h5>
        <h2>Connect more <br>and focus on the work that matters</h2>
        <p>An educator is many things: an encourager, a storyteller, an empathiser, a creative, a nurturer, a night owl and an early riser. Be the awesome inspirational kaleidoscope that you are called to be - let us handle the administrative tasks for you.</p>
        <button><a href='/signup'>Try Sprout for free</a></button>
        <button>Learn more</button>
        </div>
    </div>

    <img src='https://www.any.do/v4/images/ipad/i-pad-landscape-copy-2@2x.png'></img>

    <div class='content-segment'>
        <h5>SPROUT FOR EDUCATORS</h5>
        <h2>Being there</h2>
        <div class='segment-body'>
        <div class='content-card' style="background-image: url('https://render.fineartamerica.com/images/rendered/default/print/8/5.5/break/images/artworkimages/medium/2/minimal-architectureblue-sky-background-sot.jpg');">
            <h4>Monitor your class</h4>
            <p>Take class attendance on Sprout and get an instant report of your class attendance over time - average attendance rate, list of regular students or the non-regular ones, and many more.</p>
        </div>
        <div class='content-card' style="background-image: url('https://i.imgur.com/MRR2Yyq.jpg');">
            <h4>Keep up with schedule</h4>
            <p>Busy schedule can never get in the way of celebrating your students’ birthdays in class, or announcing an important update to the parents. We remind you when it is time.</p>
        </div>
        <div class='content-card' style="background-image: url('https://lp2.hm.com/hmgoepprod?set=quality[79],source[/07/4c/074cfaf5f96d9417eea90aaf336bf296a93c8083.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[m],hmver[1]&call=url[file:/product/main]');">
            <h4>Create opportunity for care</h4>
            <p>Go the extra miles for a child to show that you care? Sprout gives you the confidence to do just that - no longer do you need to dig through various excels and clunky systems to obtain the information you need. All children’s data is easily accessible through Sprout</p>
        </div>
        <div class='content-card' style="background-image: url('https://www.exclusiverd.pl/wp-content/uploads/2020/05/dbajmy-o-wzrok.jpg');">
            <h4>Share the joy</h4>
            <p>Get parents engaged by sharing photos and videos of wonderful classroom moments. You can also share resources parents may find useful in guiding and working with their children at home</p>
        </div>

        </div>
    </div>

    <div class='content-segment'>
        <h5>SPROUT FOR SCHOOL ADMNISTRATORS</h5>
        <h2>Seeing clearly</h2>
        <div class='segment-body'>
        <div class='content-card' style="background-image: url('https://image.freepik.com/free-photo/light-pink-rubik-s-cube-light-pink-background-minimal-concept-idea_40193-87.jpg');">
            <h4>Resource allocation</h4>
            <p>Have a bird-eye view of your entire school and review your resource allocation accordingly: classes that need help, age group’s overall attendance, feedback on curriculum, or the teachers who are handling too many classes.</p>
        </div>
        <div class='content-card' style="background-image: url('https://cdn.nohat.cc/thumb/f/720/9474532fa7b24cd1a17e.jpg');">
            <h4>Automated reports</h4>
            <p>Charts and summaries are instantly updated according to the latest changes and updates to teachers/ children’s database. No more manual reconciliation of numbers and details across sheets.</p>
        </div>
        <div class='content-card' style="background-image: url('https://www.mspblueshift.com.au/wp-content/uploads/2018/05/organized-archive-with-ring-binders-P2XZEQ4-1.jpg');">
            <h4>Centralising resources</h4>
            <p>Get all your school resources organised in one place, be it teaching resources, parenting tips, students’ learning development framework, and build that growing and learning organisation you’ve always hoped for.</p>
        </div>
        <div class='content-card' style="background-image: url('https://graphiccloud.net/wp-content/uploads/2019/02/Brown-Paper-Envelope-Mockup.jpg');">
            <h4>Communication</h4>
            <p>Share important school updates like announcements, changes in curriculum, teachers’ meetings and have them remind and update your teachers in time.</p>
        </div>
        </div>
    </div>


    <div class='signup-segment'>
        <%- include('./partials/signUp-component.ejs') %>
    </div>

    <footer>

    </footer>
</body>
</html>