<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class='signup-body'>
    <div id='signup-page-form'>
    <%- include('./partials/signUp-component.ejs') %>
    </div>
</body>
</html>