body {
    font-family: 'Open Sans', sans-serif;
    color: #131212e3;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15%;
    text-decoration: none;
    font-size: 13px;
}

li a.active {
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ul.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.1);
    background-color: #f1f1f1;
}

.horizontal-nav > li {
    float: left;
}

.horizontal-nav > li:nth-child(3) {
    float: right;
    background-color: #0779E4;
    color: white;
}

.horizontal-nav > li a {
    display: block;
    text-align: center;
    color: white;
    padding: 20px 16px;
    text-decoration: none;
}

.logout-button {
    color: white;
}

.horizontal-nav > li a:hover {
    background-color: #0779E4;
}

.admin-body {
    display: flex;
    flex-direction: row;
}

.left-section {
    height: 900px;
    width: 20%;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
}

.mid-section {
    width: 80%;
}

.right-section {
    height: 900px;
    width: 20%;
    background-color: aliceblue;
}

.dropdown-students, .dropdown-teachers {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: inherit;
    font-size: 13px;
    width: 85%;
    padding-left: 15%;
    overflow: hidden;
}

.dropdown-container-students, .dropdown-container-teachers, .dropdown-container {
    display: none;
    width: 100%;
}

.dropdown-container-students>a, .dropdown-container-teachers>a, dropdown-container>a {
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25%;
    width: 75%;
    color: #0779E4;
}

.dropdown-container-students>a:hover {
    background-color: #555;
    color: white;
}

.dropdown-students:hover {
    background-color: #555;
    color: white;
}

.dropdown-container-teachers>a:hover {
    background-color: #555;
    color: white;
}

.dropdown-teachers:hover {
    background-color: #555;
    color: white;
}

.subtab-navigator {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    font-size: 13px;
    background-color: white;
    margin-bottom: 10px;
}

.subtab-type, .subtab-name {
    padding: 20px;
}

.active-type-tab {
    background-color: #0779E4;
    color: white;
}

.subtab-type>a {
    text-decoration: none;
    color: #131212e3
}

.subtab-name {
    font-size: 15px;
    font-weight: 600;
    color: #0779E4;
}

.dropdown-container>form {
    display: inline-block;
    margin-left: 2.55%
}

.dropdown-container>form>input[type='submit'] {
    padding: 15px;
    background-color: #0779e414;
    color: #0779E4;
    border: none;
}

.active-subtype-tab {
    background-color: #0779E4;
    color: white;
    padding: 15px;
    border: none;
}

table {
    border-collapse: collapse;
    width: 95%;
    height: 550px;
    font-size: 12px;
    margin-left: 2.5%;
    display: block;
    overflow-x: auto;
    overflow-y: scroll;
    position: relative;
}

td, th {
    padding: 8px;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0779e4;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.first-col {
    left: 0;
    position: sticky;
    display: block;
    width: 100px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.marked-present {
    background-color: rgba(107, 185, 184, 0.68);
    color: rgba(107, 185, 184, 0);
}

.marked-absent {
    background-color: rgba(240, 242, 203, 0.85);
    color: rgba(240, 242, 203, 0);
}

#add-child-button {
    margin-right: 2.5%;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.7);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
    height: fit-content;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.modal-content > form input {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #8080808f;
}

.input-pair {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.input-pair > input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.input-pair > select {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #8080808f;
}

.modal-content > form input[type='submit'] {
    margin-top: 20px;
    background-color: #0779E4;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    width: 100%;
    margin-right: 10px;
}

.modal-content > input[type='submit'] {
    border: none;
    background-color: #ffffff00;
    color: #0779E4;
    width: 100%;
    margin-right: 10px;
}

.form-subsection {
    display: flex;
    width: 100%
}

.modal-content > h2 {
    margin-bottom: 30px;
}

.form-error {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin-top: 0px;
    background-color: #e91e6336;
    color: #E91E63;
}

#attendance-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 13px;
    padding: 10%;
    background-color: #80808012;
    border-radius: 5px;
}

#attendance-form>select {
    padding: 10px;
    border: none;
}

#attendance-form>h3 {
    margin-top: 30px;
}

#attendance-form-student-list {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-pairs {
    width: 30%;
    font-size: 13px
}

.checkbox-pairs>label {
    padding: 10px;
}

#attendance-form>input[type='submit'] {
    padding: 10px;
    margin-top: 30px;
    background-color: #0779E4;
    color: white;
    border: none;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.ageGroup-stats {
    width: 95%;
    height: 150px;
    display: flex;
    margin-left: 2.5%;
    justify-content: space-around;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.stats-div {
    width: 32%;
    height: 100%;
    background-color: red;
    display: flex;
}

#stats-1 {
    background-image: linear-gradient(to right, rgb(142, 214, 215) , #0779E4);
    color: #0779E4;
    font-weight: 600;
}

#stats-2 {
    background-image: linear-gradient(to right, rgb(240, 242, 203) , rgb(107, 185, 184));
    color: rgb(104, 179, 178);
    font-weight: 600;
}

#stats-3 {
    background-image: linear-gradient(to right, rgb(240, 242, 203) , #e91e63);
    color: #e91e63;
    font-weight: 600;
}

.stats-div-content {
    width: 70%;
    margin-left: 5%;
}

.stats-div-img {
    width: 30%;
}

.stats-div> img {
    width: 40%;
    margin-top: 10%;
    opacity: 0.2;
    margin-bottom: 10%;
}

.stats-div-content > h3 {
    font-size: 14px;
    margin-bottom: 0px;
}

.stats-div-content > p {
    font-size: 62px;
    margin-top: 0px;
}

.roster-selection {
    padding: 5px;
    margin-bottom: 2px;
    border: 0;
}

.roster-data {
    display: none;
}

.select-value {
    color: white;
    background-color: rgb(107, 185, 184)
}

.select-value-zero {
    background-color: #80808021;
    color: #80808000;
}

.roster-submit-button {
    margin-left: 88%;
    margin-top: 1%;
    padding: 10px;
    width: 100px;
    background-color: #0779E4;
    color: white;
    border: none;
    border-radius: 3px;
}

.charts {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    padding: 5%;
    width: 100%;
}

.ageGroup-chart > h2 {
    padding: 10px;
    font-weight: 600;
}

#attendanceChart {
    width: 100%;
    margin-top: 20px;
    height: 300px;
}

.summary-chart {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #0779e4f5;
    padding: 2.5%;
    height: 100%;
    margin-left: 5px;
}

#totalAttendanceChart-wrapper {
    width: 100%;
    height: 70%;
}

#totalAttendanceChart {
    width: 100%;
    height: 100%;
}

.ageGroup-chart {
    width: 60%;
    height: 100%;
    background-color: #80808014;
    padding: 2.5%;
}

.total-attendance, .tots-attendance, .junior-attendance, .lower-primary-attendance, .upper-primary-attendance {
    display: none;
}

.summary-stats {
    display: flex;
    height: 20%;
}

.summary-card {
    background-color: #8080802e;
    height: 90%;
    width: 150px;
    padding: 10px;
    margin-left: 2.5%;
}

.summary-card>h3 {
    font-size: 13px;
    font-weight: 500;
}

.summary-card>p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: #0779e4;
}

.summary-chart > h2 {
    padding: 10px;
    font-weight: 600;
    color: white;
}

#summary-stats-1 > h3 {
    color: white;
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 0px;
}

#summary-stats-1 > p {
    font-size: 30px;
    font-weight: 600;
    margin-top: -20px;
    color: white;
    padding-left: 10px;
}

.ageGroup-chart > h3 {
    font-size: 15px;
    padding-left: 10px;
    margin-top: 40px;
    font-weight: 500;
}

#dashboard-table {
    padding-left: 2.5%;
    height: 150px;
    width: 100%;
}

.mid-section > h2 {
    font-size: 20px;
    padding-left: 5%;
    font-weight: 600;
}

.student-attendance-history {
    display: flex;
    flex-wrap: wrap;
}

.student-attendance-history > .checkbox-pairs {
    width: 25%;
}

.edit-form {
    padding: 10%;
}

.edit-form > h2 {
    font-size: 25px;
    margin-top: -20px;
    font-weight: 600;
}

.edit-form > form > h3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
}

.student-attendance-history > h3 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
}

.student-attendance-history {
    height: 250px;
    overflow-y: scroll;
    position: relative;
}

.edit-form> form> .form-subsection> .input-pair> input {
    padding: 7px;
    background-color: #8080801c;
    border: none;
    width: 350px;
}

.edit-form> form> .form-subsection> .input-pair> select {
    background-color: #8080801c;
    border: none;
    padding: 6px;
    width: 362px;
}

.edit-form> form> .form-subsection> .input-pair> input[type='date'] {
    background-color: #8080801c;
    border: none;
    padding: 5px;
    width: 352px;
}

.hidden-data {
    display: none;
}

.edit-form > form > input[type='submit'] {
    padding: 10px;
    margin-top: 20px;
    float: right;
    width: 200px;
    background-color: #0779e4;
    border: none;
    color: white;
    border-radius: 3px;
}

.edit-form-teacher {
    padding: 5%;
    width: 100%;
    margin-top: -30px;
}

.edit-form-teacher > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
}

#profile-table-1 {
    width: 40%;
}

#profile-table-1> input {
    padding: 7px;
    background-color: #8080801c;
    border: none;
    width: 350px;
}

#profile-table-1> select {
    background-color: #8080801c;
    border: none;
    padding: 6px;
    width: 362px;
}

#profile-table-1> input[type='date'] {
    background-color: #8080801c;
    border: none;
    padding: 5px;
    width: 352px;
}

#profile-table-2 {
    width: 40%;
    padding: 5%;
    background-color: #80808014;
    margin-right: 5%;
}

.edit-form-teacher > form > input[type='submit'] {
    padding: 10px;
    margin-top: 20px;
    float: right;
    width: 200px;
    background-color: #0779e4;
    border: none;
    color: white;
    border-radius: 3px;
    margin-left: 68.5%;
}

#profile-table-1 > h2 {
    margin-top: 10%;
    font-size: 25px;
    font-weight: 600;
}

#profile-table-1 > h3 {
    font-size: 20px;
    font-weight: 500;
}

#profile-table-2 > h3 {
    font-size: 20px;
    font-weight: 500;
}

#delete-teacher-button {
    margin-top: -40px;
    background-color: #e91e63;
}

#delete-student-button {
    background-color: #e91e63
}

#add-child-button {
    background-color: #0779e4;
    color: white;
    border: none;
    border-radius: 3px;
}
