body {
    font-family: 'Open Sans', sans-serif;
    color: #131212e3;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.1);
    background-color: #131212e3;
}

li {
    float: left;
}

li:nth-child(3) {
    float: right;
    background-color: #0779E4;
    color: white;
}

li a {
    display: block;
    color: #737070;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

.login-button {
    color: white;
}

li a:hover {
    background-color: #0779E4;
}

.top-banner {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 75px;
    text-align: center;
    margin-bottom: 200px;
}

.banner-content {
    width: 60%;
    margin: 0 auto;
}

.banner-content > h2 {
    font-size: 55px;
    line-height: 63px;
    font-weight: 600;
}

.banner-content > h5 {
    margin-top: 60px;
}

.banner-content > button {
    padding: 20px;
    border: 0px;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    margin-top: 35px;
}

.banner-content > p {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.banner-content>button:nth-child(4) {
    background-color: #0779E4;
}

.banner-content>button:nth-child(5) {
    border: 1px solid #0779E4;
    background-color: white;
    color: #0779E4;
}

button> a {
    color: white;
    text-decoration: none;
}

img {
    width: 90%;
    margin-left: 10%;
}

.content-segment {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 1380px;
}

.content-segment > h2 {
    font-size: 50px;
    font-weight: 600;
}

.segment-body {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-card > h4 {
    font-size: 25px;
    font-weight: 400;
}

.content-card > p {
    font-size: 16px;
    font-weight: 400;
}

.content-card {
    width: 36%;
    padding: 50px;
    margin: 3px;
    border-radius: 3px;
    height: 400px;
    background-size: cover;
}

.content-card:nth-child(1) {
    color: white;
}

.content-card:nth-child(2) {
    background-size: cover;
    color: #131212;
}

.content-card:nth-child(4) {
    background-size: cover;
    color: #131212;
}

.content-card:nth-child(3) {
    background-size: cover;
    color: #131212;
}

.signup-segment {
    background-color: #EFF3C6;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url('https://i.pinimg.com/originals/cf/e4/1d/cfe41dcb2a7deecdbd38ddc68513b47f.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.sign-up-form {
    width: 50%;
}

.sign-up-form >h3 {
    color: #0779E4;
    font-size: 30px;
    text-align: center;
}

.sign-up-form > input[type='text'] {
    padding: 10px;
    width: 97%;
    border: none;
    margin-bottom: 18px;
    border-radius: 3px;
    background-color: #ffffff8f;
}

.sign-up-form > input[type='submit'] {
    padding: 18px;
    width: 100%;
    border: none;
    margin-bottom: 18px;
    border-radius: 3px;
    background-color: #0779E4;
    margin-top: 30px;
    color: white;
    font-size: 17px;
}

.sign-up-form > select {
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 18px;
    border-radius: 3px;
    background-color: #ffffff8f;
}

footer {
    width: 100%;
    height: 350px;
    background-color: #131212e3;
}

.signup-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#signup-page-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 660px;
    background-color: #8080801c;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#signup-page-form>.sign-up-form {
    width: 80%
}

#signup-page-form>.sign-up-form>label {
    font-size: 14px;
}

#signup-page-form>.sign-up-form>input {
    margin-bottom: 10px;
}

#signup-page-form>.sign-up-form>input[type='submit'] {
    margin-top: 8px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#signup-page-form>.sign-up-form>input[type='text'] {
    padding-top: 8px;
    padding-bottom: 8px;
}

#signup-page-form>.sign-up-form>h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}
