<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class='signup-body'>
    <div id='signup-page-form'>
        <form action='/' method='POST' class='sign-up-form'>
        <h3>Sign Up</h3>
        <% err.forEach(errContent => { %>
            <p class='form-error'><%=errContent%></p>
        <% }) %>
        <%- include('./partials/signUp-component.ejs') %>
        </form>
    <p>Already have an account?<a href='/login'>Log in</a></p>
    <a href='/'>Back to home</a>
    </div>
</body>
</html>