<nav>
     <ul class ='subtab-navigator'>
        <div class='subtab-name'>REGIONS</div>
        <div class="subtab-type" id='dropdown-1'>Jurong</div>
        <div class="subtab-type" id='dropdown-2'>Clementi</div>
        <div class="subtab-type" id='dropdown-3'>BB & CCK</div>
        <div class="subtab-type" id='dropdown-4'>Bukit Panjang</div>                                            
     </ul>
</nav>