<nav >
        <ul class='horizontal-nav'>
            <li><a class="active" href="/">Buy</a></li>
            <li><a href="/">Sell</a></li>
            <li><a href="/logout" class='logout-button'>Logout</a></li>
        </ul>
</nav>