<nav >
        <ul class='horizontal-nav'>
            <li><a class="active" href="/">Buy</a></li>
            <li><a href="/">Sell</a></li>
            <form action='/logout?_method=DELETE' method='POST'>
            <input type='submit' class='logout-button' value='Logout'>
            </form>
        </ul>
</nav>