<nav >
        <ul class='horizontal-nav'>
            <p id='logo'>THE SPROUT APP</p>
            <form action='/logout?_method=DELETE' method='POST'>
            <input type='submit' class='logout-button' value='Logout'>
            </form>
        </ul>
</nav>